.welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/Logohigh.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 100vh;
  }
  
  .welcome-area .header-text 
  {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
    .welcome-area .header-text h1 
    {
      color: #fff;

    }
    .welcome-area .header-text p
    {
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 50px;
    }
  